<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrp.cost.mapper.CostReportMapper">

    <resultMap id="BaseResultMap" type="com.hrp.common.entity.CostReport">
        <id column="report_id" property="reportId"/>
        <result column="report_no" property="reportNo"/>
        <result column="report_name" property="reportName"/>
        <result column="report_type" property="reportType"/>
        <result column="report_period" property="reportPeriod"/>
        <result column="dept_id" property="deptId"/>
        <result column="total_cost" property="totalCost"/>
        <result column="direct_cost" property="directCost"/>
        <result column="indirect_cost" property="indirectCost"/>
        <result column="status" property="status"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM cost_report WHERE report_id = #{id}
    </select>

    <select id="selectByPeriod" resultMap="BaseResultMap">
        SELECT * FROM cost_report WHERE report_period = #{reportPeriod} ORDER BY create_time DESC
    </select>

    <select id="selectAll" resultMap="BaseResultMap">
        SELECT * FROM cost_report ORDER BY report_period DESC, create_time DESC
    </select>

    <insert id="insert" parameterType="com.hrp.common.entity.CostReport">
        INSERT INTO cost_report (report_no, report_name, report_type, report_period, dept_id,
                                total_cost, direct_cost, indirect_cost, status, create_user)
        VALUES (#{reportNo}, #{reportName}, #{reportType}, #{reportPeriod}, #{deptId},
                #{totalCost}, #{directCost}, #{indirectCost}, #{status}, #{createUser})
    </insert>

    <update id="updateById" parameterType="com.hrp.common.entity.CostReport">
        UPDATE cost_report
        <set>
            <if test="reportName != null">report_name = #{reportName},</if>
            <if test="totalCost != null">total_cost = #{totalCost},</if>
            <if test="directCost != null">direct_cost = #{directCost},</if>
            <if test="indirectCost != null">indirect_cost = #{indirectCost},</if>
            <if test="status != null">status = #{status},</if>
        </set>
        WHERE report_id = #{reportId}
    </update>

    <delete id="deleteById">
        DELETE FROM cost_report WHERE report_id = #{id}
    </delete>

</mapper>

