<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrp.auth.mapper.PasswordChangeLogMapper">

    <resultMap id="BaseResultMap" type="com.hrp.common.entity.PasswordChangeLog">
        <id column="log_id" property="logId"/>
        <result column="user_id" property="userId"/>
        <result column="emp_id" property="empId"/>
        <result column="emp_code" property="empCode"/>
        <result column="emp_name" property="empName"/>
        <result column="old_password" property="oldPassword"/>
        <result column="new_password" property="newPassword"/>
        <result column="change_time" property="changeTime"/>
        <result column="change_ip" property="changeIp"/>
        <result column="change_user" property="changeUser"/>
        <result column="remark" property="remark"/>
    </resultMap>

    <select id="selectById" resultMap="BaseResultMap">
        SELECT * FROM sys_password_change_log WHERE log_id = #{logId}
    </select>

    <select id="selectByUserId" resultMap="BaseResultMap">
        SELECT * FROM sys_password_change_log WHERE user_id = #{userId} ORDER BY change_time DESC LIMIT 1
    </select>

    <select id="selectPage" resultMap="BaseResultMap">
        SELECT * FROM sys_password_change_log
        <where>
            <if test="keyword != null and keyword != ''">
                AND (emp_code LIKE CONCAT('%', #{keyword}, '%') OR emp_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
        ORDER BY change_time DESC
    </select>

    <select id="countPage" resultType="java.lang.Long">
        SELECT COUNT(*) FROM sys_password_change_log
        <where>
            <if test="keyword != null and keyword != ''">
                AND (emp_code LIKE CONCAT('%', #{keyword}, '%') OR emp_name LIKE CONCAT('%', #{keyword}, '%'))
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.hrp.common.entity.PasswordChangeLog">
        INSERT INTO sys_password_change_log 
        (user_id, emp_id, emp_code, emp_name, old_password, new_password, change_time, change_ip, change_user, remark)
        VALUES 
        (#{userId}, #{empId}, #{empCode}, #{empName}, #{oldPassword}, #{newPassword}, 
         #{changeTime}, #{changeIp}, #{changeUser}, #{remark})
    </insert>

    <update id="updateByUserId" parameterType="com.hrp.common.entity.PasswordChangeLog">
        UPDATE sys_password_change_log
        SET emp_id = #{empId},
            emp_code = #{empCode},
            emp_name = #{empName},
            old_password = #{oldPassword},
            new_password = #{newPassword},
            change_time = #{changeTime},
            change_ip = #{changeIp},
            change_user = #{changeUser},
            remark = #{remark}
        WHERE user_id = #{userId}
    </update>

    <delete id="deleteById">
        DELETE FROM sys_password_change_log WHERE log_id = #{logId}
    </delete>

    <delete id="deleteByUserId">
        DELETE FROM sys_password_change_log WHERE user_id = #{userId}
    </delete>

</mapper>

