<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hrp.asset.mapper.AssetInStorageDetailMapper">

    <resultMap id="BaseResultMap" type="com.hrp.common.entity.AssetInStorageDetail">
        <id column="id" property="id"/>
        <result column="storage_id" property="storageId"/>
        <result column="storage_no" property="storageNo"/>
        <result column="purchase_detail_id" property="purchaseDetailId"/>
        <result column="asset_code" property="assetCode"/>
        <result column="asset_name" property="assetName"/>
        <result column="spec" property="spec"/>
        <result column="manufacturer" property="manufacturer"/>
        <result column="unit" property="unit"/>
        <result column="storage_quantity" property="storageQuantity"/>
        <result column="price" property="price"/>
        <result column="total_price" property="totalPrice"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="selectByStorageId" resultMap="BaseResultMap">
        SELECT id, storage_id, storage_no, purchase_detail_id, asset_code, asset_name, spec, manufacturer, unit,
               storage_quantity, price, total_price, remark, create_time, update_time
        FROM asset_in_storage_detail
        WHERE storage_id = #{storageId}
        ORDER BY id ASC
    </select>

    <select id="selectByStorageNo" resultMap="BaseResultMap">
        SELECT id, storage_id, storage_no, purchase_detail_id, asset_code, asset_name, spec, manufacturer, unit,
               storage_quantity, price, total_price, remark, create_time, update_time
        FROM asset_in_storage_detail
        WHERE storage_no = #{storageNo}
        ORDER BY id ASC
    </select>

    <insert id="insert" parameterType="com.hrp.common.entity.AssetInStorageDetail" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO asset_in_storage_detail (storage_id, storage_no, purchase_detail_id, asset_code, asset_name, spec, manufacturer, unit,
                                            storage_quantity, price, total_price, remark)
        VALUES (#{storageId}, #{storageNo}, #{purchaseDetailId}, #{assetCode}, #{assetName}, #{spec}, #{manufacturer}, #{unit},
                #{storageQuantity}, #{price}, #{totalPrice}, #{remark})
    </insert>

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO asset_in_storage_detail (storage_id, storage_no, purchase_detail_id, asset_code, asset_name, spec, manufacturer, unit,
                                            storage_quantity, price, total_price, remark)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.storageId}, #{item.storageNo}, #{item.purchaseDetailId}, #{item.assetCode}, #{item.assetName}, #{item.spec}, #{item.manufacturer}, #{item.unit},
             #{item.storageQuantity}, #{item.price}, #{item.totalPrice}, #{item.remark})
        </foreach>
    </insert>

    <update id="updateById" parameterType="com.hrp.common.entity.AssetInStorageDetail">
        UPDATE asset_in_storage_detail
        <set>
            <if test="assetCode != null">asset_code = #{assetCode},</if>
            <if test="assetName != null">asset_name = #{assetName},</if>
            <if test="spec != null">spec = #{spec},</if>
            <if test="manufacturer != null">manufacturer = #{manufacturer},</if>
            <if test="unit != null">unit = #{unit},</if>
            <if test="storageQuantity != null">storage_quantity = #{storageQuantity},</if>
            <if test="price != null">price = #{price},</if>
            <if test="totalPrice != null">total_price = #{totalPrice},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByStorageId">
        DELETE FROM asset_in_storage_detail WHERE storage_id = #{storageId}
    </delete>

    <delete id="deleteById">
        DELETE FROM asset_in_storage_detail WHERE id = #{id}
    </delete>

</mapper>

